<link href="css/website.css" rel="stylesheet" type="text/css" />

<div id="website_wrapper">
 
    <!-- End of header-->
    
    
    
    <div id="website_main_top"></div>
    <div id="website_main">
      
      <!-- Form for Support page-->
      <br><br><br><br>
      <h2>Contact Information</h2>
      <div class="half float_l">
        <p>
        Please input your details in the boxes below for <b>technical assistance</b>.</p>

        <div id="contact_form">
          <form class="form-inline">
            <div class="form-group">
              <label for="InputName">Full Name</label>
              <input type="text" class="form-control" id="InputName" placeholder="Name" required><br>

              <div class="form-group">
                <label for="InputEmail">Email</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="Vaild email address" required><br>
              </div>

              <label for="InputSubject">Subject:</label>
              <input type="text" class="form-control" id="InputSubject" placeholder="Technical Assistance Required" required><br>

              <div class="cleaner h10"></div>

              <label for="text">Message:</label> <textarea placeholder="Input details of the message:" id="text" name="text" rows="0" cols="0" class="required"></textarea>
              <div class="cleaner h10"></div>

              <input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" onclick=sendRequest() />

              <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />
            </div>
          </form>

        </div>
      </div>

      <!-- FAQ for Support page -->

      <div class="half float_r">
        <h2>Frequently Asked Questions </h2>  
        <div class="cleaner divider"></div>
        <div class="faq">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              How do I purchase a movie/boxset?
            </mat-expansion-panel-header>
          
            <ng-template matExpansionPanelContent>
              Click the "Add to Cart" button below the item you want to purchase, 
            then head to the cart page and your transactions will be stored. Select the correct payment type afterwards.
            </ng-template>
          </mat-expansion-panel>
        </div>
       <br>


        <div class="faq">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Are there discounts on the websites products?
            </mat-expansion-panel-header>
          
            <ng-template matExpansionPanelContent>
              There are usually seasonal discounts applied to items.
            </ng-template>
          </mat-expansion-panel>
        </div>
       <br>

        <div class="faq">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              How long do TV programs stay on the listings? 
            </mat-expansion-panel-header>
          
            <ng-template matExpansionPanelContent>
              They stay for at least 2 months. Others may last much longer.
            </ng-template>
          </mat-expansion-panel>
        </div>
        <br>


        <div class="faq">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              What payment methods do you accept?
            </mat-expansion-panel-header>
          
            <ng-template matExpansionPanelContent>
              We accept all payments types.
            </ng-template>
          </mat-expansion-panel>
        </div>
        <br>

        <div class="faq">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Can I get a refund?
            </mat-expansion-panel-header>
          
            <ng-template matExpansionPanelContent>
              Yes you may return your selected item if it falls into the refund category.
            </ng-template>
          </mat-expansion-panel>
          <br>
          </div>
        </div>     
      </div>
      

<div id="website_footer">
     
      <div class="col one_third">
        <h4>Links</h4>
        <ul class="footer_list">
          <li><a href="support.html">Support</a></li><!-- Support Page to be inserted here -->
          <li><a href="support.html">FAQ</a></li><!-- Support Page to be inserted here -->
          <li><a href="cart.html">Cart</a></li><!-- Cart Page to be inserted here-->
        </ul>
      </div>
      <div class="col one_third">
        <h4>Social Media</h4>
        <ul class="twitter_post">
          <li>Keep up to date with our programs and discounts on social media!</li>
          <div class="footer_social_button">
            <a href="https://www.facebook.com"><img src="images/facebook.png" alt="Facebook" title="facebook" /></a>
            <a href="https://www.flickr.com"><img src="images/flickr.png" alt="Flickr" title="flickr" /></a>
            <a href="https://www.twitter.com"><img src="images/twitter.png" alt="Twitter" title="twitter" /></a>
            <a href="https://www.youtube.com"><img src="images/youtube.png" alt="Youtube" title="youtube" /></a>
            <a href="https://www.rss.com"><img src="images/feed.png" alt="Feed" title="rss" /></a>
          </div>
          <li></li>
        </ul>
      </div>
    <div class="col one_third no_margin_right">
		<h4>About Us</h4>
		<p>Please consider us to watch your TV programs on!</p>
		Copyright © 2019 <a href="">Our Website Name Inserted Here</a>
	</div>
</div>

      
<router-outlet></router-outlet>
