
<h2>Doughnut Definition:</h2>

<p>Doughnuts are small ring shaped cakes made of light dough that is fried in deep fat. <br><br><a href="https://www.thefreedictionary.com/doughnut">More here</a></p>
<br>
<p></p>
<!-- Buttons to show and hide text -->
  <input type="button" value="Sprinkled!" 
onclick="document.getElementById('text1').style.visibility='visible';">
<div id="text1" style="visibility:hidden;">
The Sprinkle Doughnut is the best kind of Doughnut.<br> It has sugary sprinkles on it generally with an iced topping.<br>
<input type="button" value="Hide"
onclick="document.getElementById('text1').style.visibility = 'hidden';">
</div>
<br>

<input type="button" value="Chocolate!" 
onclick="document.getElementById('text2').style.visibility='visible'; ">
<div id="text2" style="visibility:hidden;">
The Chocolate Coated Doughnut is delicious. They are sweet and if<br> coated with great chocolate, are a masterpiece.<br>
<input type="button" value="Hide"
onclick="document.getElementById('text2').style.visibility = 'hidden';">
</div>
<br>
<input type="button" value="Cream!" 
onclick="document.getElementById('text3').style.visibility='visible'; ">
<div id="text3" style="visibility:hidden;">
Cream filled Doughnuts are prone to going off quickly, so eat <br>fast!  <br>
<input type="button" value="Hide"
onclick="document.getElementById('text3').style.visibility = 'hidden';">
</div>
<br>


