
<button
mat-raised-button
color="accent"
type="submit">Save</button>
<br>
  <input type="button" value="Sprinkled!" 
onclick="document.getElementById('text1').style.visibility='visible';">
<div id="text1" style="visibility:hidden;">
The Sprinkle Doughnut is the best kind of Doughnut.<br> It has sugary sprinkles on it generally with an iced topping.<br>
<input type="button" value="Hide"
onclick="document.getElementById('text1').style.visibility = 'hidden';">
</div>
<br>

<input type="button" value="Chocolate!" 
onclick="document.getElementById('text2').style.visibility='visible'; ">
<div id="text2" style="visibility:hidden;">
The Chocolate Coated Doughnut is delicious.<br>
<input type="button" value="Hide"
onclick="document.getElementById('text2').style.visibility = 'hidden';">
</div>




