<link href="css/website.css" rel="stylesheet" type="text/css" />

<div id="website_wrapper">
 
    <!-- END of header-->
    <div class="half float_l2">
      <h2>Avengers</h2>
        <iframe src="//www.youtube.com/embed/TcMBFSGVi1c" frameborder="0" allowfullscreen></iframe>
          <br>
            <b>Description :</b> After the devastating events of<br>
            Avengers: Infinity War (2018), the universe is <br>in ruins. 
            With the help of remaining allies, the <br>Avengers assemble 
            once more in order to <br>undo Thanos' actions and restore 
            order to the <br>universe.<br><br>
            <b>Directors :</b> Anthony Russo, Joe Russo <br>
            <b> Writers :</b> Christopher Markus, Stephen McFeely  <br>
            <b>Stars :</b> Brie Larson, Scarlett Johansson, Karen Gillan <br>
            <b> Ratings : </b>
          <br><br><br>

      <h2>Avengers</h2>
        <iframe src="//www.youtube.com/embed/TcMBFSGVi1c" frameborder="0" allowfullscreen></iframe>
          <br>
            <b>Description :</b> After the devastating events of<br>
            Avengers: Infinity War (2018), the universe is <br>in ruins. 
            With the help of remaining allies, the <br>Avengers assemble 
            once more in order to <br>undo Thanos' actions and restore 
            order to the <br>universe.<br><br>
            <b>Directors :</b> Anthony Russo, Joe Russo <br>
            <b> Writers :</b> Christopher Markus, Stephen McFeely  <br>
            <b>Stars :</b> Brie Larson, Scarlett Johansson, Karen Gillan <br>
            <b> Ratings : </b>
    </div>
    
    <div class="half float_r">
      <h2>Breaking Bad</h2>
        <iframe src="//www.youtube.com/embed/HhesaQXLuRY" frameborder="0" allowfullscreen></iframe>      
          <br>
          <b>Description :</b> After the devastating events of<br>
            Avengers: Infinity War (2018), the universe is <br>in ruins. 
            With the help of remaining allies, the <br>Avengers assemble 
            once more in order to <br>undo Thanos' actions and restore 
            order to the <br>universe.<br><br>
            <b>Directors :</b> Anthony Russo, Joe Russo <br>
            <b> Writers :</b> Christopher Markus, Stephen McFeely  <br>
            <b>Stars :</b> Brie Larson, Scarlett Johansson, Karen Gillan <br>
            <b>Ratings : </b>
          <br><br><br>

      <h2>Breaking Bad</h2>
        <iframe src="//www.youtube.com/embed/HhesaQXLuRY" frameborder="0" allowfullscreen></iframe>     
          <br>
          <b>Description :</b> After the devastating events of<br>
            Avengers: Infinity War (2018), the universe is <br>in ruins. 
            With the help of remaining allies, the <br>Avengers assemble 
            once more in order to <br>undo Thanos' actions and restore 
            order to the <br>universe.<br><br>
            <b>Directors :</b> Anthony Russo, Joe Russo <br>
            <b> Writers :</b> Christopher Markus, Stephen McFeely  <br>
            <b>Stars :</b> Brie Larson, Scarlett Johansson, Karen Gillan <br>
            <b>Ratings : </b>

    </div>

<div id="website_footer">
      <div class="col one_third">
        <h4>Links</h4>
        <ul class="footer_list">
          <li><a href="support.html">Support</a></li><!-- Support Page to be inserted here -->
          <li><a href="support.html">FAQ</a></li><!-- Support Page to be inserted here -->
          <li><a href="cart.html">Cart</a></li><!-- Cart Page to be inserted here-->
        </ul>
      </div>
      <div class="col one_third">
        <h4>Social Media</h4>
        <ul class="twitter_post">
          <li>Keep up to date with our programs and discounts on social media!</li>
          <div class="footer_social_button">
            <a href="https://www.facebook.com"><img src="images/facebook.png" alt="Facebook" title="facebook" /></a>
            <a href="https://www.flickr.com"><img src="images/flickr.png" alt="Flickr" title="flickr" /></a>
            <a href="https://www.twitter.com"><img src="images/twitter.png" alt="Twitter" title="twitter" /></a>
            <a href="https://www.youtube.com"><img src="images/youtube.png" alt="Youtube" title="youtube" /></a>
            <a href="https://www.rss.com"><img src="images/feed.png" alt="Feed" title="rss" /></a>
          </div>
          <li></li>
        </ul>
      </div>
    <div class="col one_third no_margin_right">
		<h4>About Us</h4>
		<p>Please consider us to watch your TV programs on!</p>
		Copyright © 2019 <a href="home2">Fletnix</a>
	</div>
</div>

<router-outlet></router-outlet>
