<link href="css/website.css" rel="stylesheet" type="text/css" />

<div id="website_wrapper">
 
    <!-- END of header-->
    <div class="half float_l2">
        
      <h2>Avengers</h2>
        <iframe src="//www.youtube.com/embed/TcMBFSGVi1c" frameborder="0" allowfullscreen></iframe>
          <br>
            <b>Description :</b> After the devastating events of<br>
            Avengers: Infinity War (2018), the universe is <br>in ruins. 
            With the help of remaining allies, the <br>Avengers assemble 
            once more in order to <br>undo Thanos' actions and restore 
            order to the <br>universe.<br><br>
            <b>Directors :</b> Anthony Russo, Joe Russo <br>
            <b> Writers :</b> Christopher Markus, Stephen McFeely  <br>
            <b>Stars :</b> Brie Larson, Scarlett Johansson, Karen Gillan <br>
            <b> Ratings :  </b>9/10
          <br><br><br>

      <h2>Fargo</h2>
        <iframe src="//www.youtube.com/embed/gKs8DzjPDMU" frameborder="0" allowfullscreen></iframe>
          <br>
            <b>Description :</b> In 2006, Lorne Malvo (Billy Bob <br>Thornton) passes through Bemidji,
             Minnesota, <br>and influences the community – including put<br>-upon insurance salesman 
             Lester Nygaard <br>(Martin Freeman) – with his malice, violence, <br>and deception. Meanwhile,
              Deputy Molly <br>Solverson (Allison Tolman) and Duluth police <br>officer Gus Grimly (Colin Hanks)
               team up to <br>solve a series of murders they believe may be<br> linked to Malvo and Nygaard.<br><br>
            <b>Directors :</b> Michael Uppendahl, Keith Gordon <br>
            <b> Writers :</b> Monica Beletsky, Steve Blackman, <br>Robert De Laurentiis, Noah Hawley  <br>
            <b>Stars :</b> Allison Tolman, Billy Bob Thornton <br>
            <b> Ratings : </b>8/10
    </div>
    
    <div class="half float_r">
      <h2>Breaking Bad</h2>
        <iframe src="//www.youtube.com/embed/HhesaQXLuRY" frameborder="0" allowfullscreen></iframe>      
          <br>
          <b>Description :</b> When chemistry teacher Walter<br> White is diagnosed with Stage III 
          cancer and<br> given only two years to live, he decides he has<br> nothing to lose.  Determined to ensure
           that his <br>family will have a secure future, Walt embarks<br> on a career of drugs and crime. <br><br>
            
            <b>Directors :</b> Adam Bernstein, Bronwhen Hughes <br>
            <b> Writers :</b> Vince Gilligan  <br>
            <b>Stars :</b> Bryan Cranston, Aaron Paul<br>
            <b>Ratings :</b> 9/10
          <br><br><br>

      <h2>Game Of Thrones</h2>
        <iframe src="//www.youtube.com/embed/rlR4PJn8b8I" frameborder="0" allowfullscreen></iframe>     
          <br>
          <b>Description :</b>Game of Thrones is roughly <br>based on the storylines of A Song of Ice and <br>Fire,
           set in the fictional Seven Kingdoms of<br> Westeros and the continent of Essos. The<br> series chronicles the
            violent dynastic struggles<br> among the realm's noble families for the Iron<br> Throne, while other families
             fight for<br> independence from it. It opens with additional<br> threats in the icy North and Essos in the east.<br><br><br>
            <b>Directors :</b> Alan Taylor, Brian Kirk, <br>Daniel Minahan, David Nutter <br>
            <b> Writers :</b> George R.R. Martin  <br>
            <b>Stars :</b> Sean Bean, Mark Addy, Peter Dinklage<br>
            <b>Ratings :</b> 10/10

    </div>

<div id="website_footer">
      <div class="col one_third">
        <h4>Links</h4>
        <ul class="footer_list">
          <li><a href="support.html">Support</a></li><!-- Support Page to be inserted here -->
          <li><a href="support.html">FAQ</a></li><!-- Support Page to be inserted here -->
          <li><a href="cart.html">Cart</a></li><!-- Cart Page to be inserted here-->
        </ul>
      </div>
      <div class="col one_third">
        <h4>Social Media</h4>
        <ul class="twitter_post">
          <li>Keep up to date with our programs and discounts on social media!</li>
          <div class="footer_social_button">
            <a href="https://www.facebook.com"><img src="images/facebook.png" alt="Facebook" title="facebook" /></a>
            <a href="https://www.flickr.com"><img src="images/flickr.png" alt="Flickr" title="flickr" /></a>
            <a href="https://www.twitter.com"><img src="images/twitter.png" alt="Twitter" title="twitter" /></a>
            <a href="https://www.youtube.com"><img src="images/youtube.png" alt="Youtube" title="youtube" /></a>
            <a href="https://www.rss.com"><img src="images/feed.png" alt="Feed" title="rss" /></a>
          </div>
          <li></li>
        </ul>
      </div>
    <div class="col one_third no_margin_right">
		<h4>About Us</h4>
		<p>Please consider us to watch your TV programs on!</p>
		Copyright © 2019 <a href="home2">Fletnix</a>
	</div>
</div>

<router-outlet></router-outlet>
