

<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel [expanded]="true" *ngFor="let post of posts">
    <mat-expansion-panel-header>
      Doughnuts!
    </mat-expansion-panel-header>
    <p>Topping 1 : {{ post.title }}</p>
    <p>Topping 2 : {{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button (click)="onDelete(post._id)" color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<h2><p *ngIf="posts.length <= 0">No doughnut creations are here...</p></h2> 
