<link href="css/website.css" rel="stylesheet" type="text/css" />

<div id="website_wrapper">
  
    <div class="half float_l2">
      <h2><u>Early 2019 Releases </u></h2>
     
          <h2>The Lion King</h2>
      <iframe src="//www.youtube.com/embed/4CbLXeGSDxg" frameborder="0" allowfullscreen></iframe>
        <br>
          <b>Description :</b> From Disney Live Action, 
          <br>director Jon Favreau’s all-new “The Lion King”<br> journeys
          to the African savanna where a <br>future king must overcome
          betrayal and<br> tragedy to assume his rightful place on<br> Pride Rock.
          <br><br>
          <b>Release Date : 19th July 2019</b>
        <br><br><br>
        <h2>Pokemon: Detective Pikachu</h2>
        <iframe src="//www.youtube.com/embed/1roy4o4tqQM" frameborder="0" allowfullscreen></iframe>
          <br>
          <b>Description :</b>The first-ever live-action <br>Pokémon movie, 
          “POKÉMON Detective <br>Pikachu” based on the iconic
           face of the <br>global Pokémon brand.<br><br><br><br>
          <b>Release Date : 10th May 2019</b>

          <br><br><br>
    </div>
    <div class="half float_r2">
      <h2><u>Late 2019 Releases</u></h2>
      <h2>Terminator Dark Fate</h2>
      <iframe src="//www.youtube.com/embed/ECkjw8t6r9g" frameborder="0" allowfullscreen></iframe>
        <br>
        <b>Description :</b> He always promised he would <br>be back. Terminator star Arnold
         <br>Schwarzenegger and original Sarah Connor <br>actor Linda Hamilton are back 
         in action in a<br> batch of new photos from the upcoming <br>sci-fi sequel, Terminator
         : Dark Fate.
        <br><br>
        <b>Release Date : 1st November 2019</b>
        <br><br><br>
        
      <h2>Joker</h2>
      <iframe src="//www.youtube.com/embed/xRc3WviXk2M" frameborder="0" allowfullscreen></iframe>
        <br>
          <b>Description :</b> A failed stand-up comedian
          <br> is driven insane and becomes a 
          <br>psychopathic murderer.
          <br><br><br><br><br>
          <p><b>Release Date : 4th October 2019</b></p>
        <br><br><br>
    </div>

    
    
    
  
    <!-- END of header-->

<div id="website_footer">
      <div class="col one_third">
        <h4>Links</h4>
        <ul class="footer_list">
          <li><a href="info" style="color:lightblue">Support</a></li><!-- Support Page to be inserted here -->
          <li><a href="info" style="color:lightblue">FAQ</a></li><!-- Support Page to be inserted here -->
          <li><a href="shop" style="color:lightblue">Cart</a></li><!-- Cart Page to be inserted here-->
        </ul>
      </div>
      <div class="col one_third">
        <h4>Social Media</h4>
        <ul class="twitter_post">
          <li>Keep up to date with our programs and discounts on social media!</li>
          <div class="footer_social_button">
            <a href="https://www.facebook.com"><img src="images/facebook.png" alt="Facebook" title="facebook" /></a>
            <a href="https://www.flickr.com"><img src="images/flickr.png" alt="Flickr" title="flickr" /></a>
            <a href="https://www.twitter.com"><img src="images/twitter.png" alt="Twitter" title="twitter" /></a>
            <a href="https://www.youtube.com"><img src="images/youtube.png" alt="Youtube" title="youtube" /></a>
            <a href="https://www.rss.com"><img src="images/feed.png" alt="Feed" title="rss" /></a>
          </div>
          <li></li>
        </ul>
      </div>
    <div class="col one_third no_margin_right">
		<h4>About Us</h4>
		<p>Please consider us to watch your TV programs on!</p>
		Copyright © 2019 <a href="home2">Fletnix</a>
  </div>
  <div class="bg4">___</div>
</div>

<!--<mat-toolbar color="warn"> 
    <mat-toolbar-row>
            <span class="title-center">
              <br>
       <h1> Welcome to the Doughnut shop!</h1>
       <br>
    </span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>-->
<!-- mat-button after button-->

  <!--<button mat-button [routerLink]="['/create']" color="Warn">Create</button>
  <button mat-button [routerLink]="['/list']">List</button>
  <button mat-button [routerLink]="['/info']">Info</button>
  <button mat-button [routerLink]="['/shop']">Shop</button>
</mat-toolbar-row>
 </mat-toolbar>-->

 

<!--><script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-functions.js"></script>

<script>
  var config = {
    // ...
  };
  firebase.initializeApp(config);
</script>
-->
<router-outlet></router-outlet>
