<link href="css/website.css" rel="stylesheet" type="text/css" />

<div id="website_wrapper">
  <div id="website_main">
    <div class="row">
      <div class="col-75">
        <div class="container">
          <form action="/action_page.php">
    
              <div class="col-50">
                <h3>Payment</h3>
                <label for="fname">Accepted Cards</label>
                <div class="icon-container">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-discover" style="color:orange;"></i>
                </div>
                <label for="cname">Name on Card</label>
                <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                <label for="ccnum">Credit card number</label>
                <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                <label for="expmonth">Exp Month</label>
                <input type="text" id="expmonth" name="expmonth" placeholder="September">
    
                <div class="row">
                  <div class="col-50">
                    <label for="expyear">Exp Year</label>
                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                  </div>
                  <div class="col-50">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" name="cvv" placeholder="352">
                  </div>
                </div>
              
    
            </div>
            <label>
              <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
            </label>
            <input type="submit" value="Continue to checkout" class="btn">
          </form>
        </div>
      </div>
    
      <div class="col-25">
        <div class="container">
          <h4>Cart 
            <span class="price" style="color:black">
              <i class="fa fa-shopping-cart"></i> 
              <b>4 items</b>
            </span>
          </h4>
          <p><a href="#">Friends Boxset</a> <span class="price">€45</span></p>
          <p><a href="#">Madagascar blu-ray</a> <span class="price">€10</span></p>
          <p><a href="#">Sennheiser Headphones</a> <span class="price">€30</span></p>
          <p><a href="#">John Wick 2 Standard</a> <span class="price">€8</span></p>
          <hr>
          <p>Total <span class="price" style="color:black"><b>€93</b></span></p>
        </div>
      </div>
    </div>
  </div>
    <!-- END of header-->
   
<div id="website_footer">
      <div class="col one_third">
        <h4>Links</h4>
        <ul class="footer_list">
          <li><a href="info" style="color:lightblue">Support</a></li><!-- Support Page to be inserted here -->
          <li><a href="info" style="color:lightblue">FAQ</a></li><!-- Support Page to be inserted here -->
          <li><a href="shop" style="color:lightblue">Cart</a></li><!-- Cart Page to be inserted here-->
        </ul>
      </div>
      <div class="col one_third">
        <h4>Social Media</h4>
        <ul class="twitter_post">
          <li>Keep up to date with our programs and discounts on social media!</li>
          <div class="footer_social_button">
            <a href="https://www.facebook.com"><img src="images/facebook.png" alt="Facebook" title="facebook" /></a>
            <a href="https://www.flickr.com"><img src="images/flickr.png" alt="Flickr" title="flickr" /></a>
            <a href="https://www.twitter.com"><img src="images/twitter.png" alt="Twitter" title="twitter" /></a>
            <a href="https://www.youtube.com"><img src="images/youtube.png" alt="Youtube" title="youtube" /></a>
            <a href="https://www.rss.com"><img src="images/feed.png" alt="Feed" title="rss" /></a>
          </div>
          <li></li>
        </ul>
      </div>
    <div class="col one_third no_margin_right">
		<h4>About Us</h4>
		<p>Please consider us to watch your TV programs on!</p>
		Copyright © 2019 <a href="home2">Fletnix</a>
	</div>
</div>
<div class="bg6">___</div>
      
<router-outlet></router-outlet>
