<link href="css/website.css" rel="stylesheet" type="text/css" />

<div id="website_wrapper"> 
    <div id="website_main">

      <h2 style="text-align:center; padding-right:30px">Home</h2>

      <h3 style="text-align:center; padding-right:30px">What our website offers you:</h3>

      <h4 style="text-align:center; padding-right:30px">Information</h4>
      <p style="text-align:center; padding-right:30px">
        Our website is mainly an informative website. We will <br>keep you up to date
        with all the new trending movies.<br>This includes release dates, writers, directors, 
        actors<br> and reviews of popular programs.

      </p>

      <h4 style="text-align:center; padding-right:30px">Movies</h4>
      <p style="text-align:center; padding-right:30px">
        We love movies ourselves, and hope you love movies too <br>(since youre here!). Anything 
        movie related we are happy <br>to help you with.

      </p>

      <h4 style="text-align:center; padding-right:30px">Shop</h4>
      <p style="text-align:center; padding-right:30px">
        Our shop gives you a range of products such as movies, <br>boxsets,
        blu-rays and accessories.
      </p>

      <h4 style="text-align:center; padding-right:30px">Streaming</h4>
      <p style="text-align:center; padding-right:30px">
        Live movie streaming is our next big update and we will <br>give 
        regular updates as to when we will do so.

      </p>

      <h4 style="text-align:center; padding-right:30px">Support</h4>
      <p style="text-align:center; padding-right:30px">
        We offer excellent customer service to people in need, <br>
        and have a good response time. We also have a FAQ <br> for 
        people who need quick responses.

      </p>

      <h4 style="text-align:center; padding-right:30px">Social Media</h4>
      <p style="text-align:center; padding-right:30px">
        We are on all social media platforms. Links to our <br>website are in our footer 
        so you can easily access it <br>without searching!

      </p>

      <br>
      <h2 style="text-align:center; padding-right:30px">About Us</h2>
      <p style="text-align:center; padding-right:30px">We are a group of college students studying 
      software development <br>in G.M.I.T. (Galway-Mayo Institute of Technology). We are in third<br> year 
      and have designed this website for easy access movie and TV <br>program watching, purchasing 
      blu-ray CDs or boxsets and streaming movies!</p>
      
    </div>

<div id="website_footer">
    
      <div class="col one_third">
        <h4>Links</h4>
        <ul class="footer_list">
          <li><a href="info" style="color:lightblue">Support</a></li><!-- Support Page to be inserted here -->
          <li><a href="info" style="color:lightblue">FAQ</a></li><!-- Support Page to be inserted here -->
          <li><a href="shop" style="color:lightblue">Cart</a></li><!-- Cart Page to be inserted here-->
        </ul>
      </div>
    
      <div class="col one_third">
        <h4>Social Media</h4>
        <ul class="twitter_post">
          <li>Keep up to date with our programs and discounts on social media!</li>
          <div class="footer_social_button">
            <a href="https://www.facebook.com"><img src="images/facebook.png" alt="Facebook" title="facebook" /></a>
            <a href="https://www.flickr.com"><img src="images/flickr.png" alt="Flickr" title="flickr" /></a>
            <a href="https://www.twitter.com"><img src="images/twitter.png" alt="Twitter" title="twitter" /></a>
            <a href="https://www.youtube.com"><img src="images/youtube.png" alt="Youtube" title="youtube" /></a>
            <a href="https://www.rss.com"><img src="images/feed.png" alt="Feed" title="rss" /></a>
          </div>
          <li></li>
        </ul>
      </div>
    <div class="col one_third no_margin_right">
		<h4>About Us</h4>
		<p>Please consider us to watch your TV programs on!</p>
		Copyright © 2019 <a href="home2">Fletnix</a>
  </div>
  <div class="bg5">___</div>
</div>


<router-outlet></router-outlet>
