
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <p>Doughnut Topping 1</p>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel">
        
      <mat-error *ngIf="title.invalid">You forgot your doughnut toppings!</mat-error>
    </mat-form-field>
    <p>Doughnut Topping 2 or Filling!</p>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="content"
        ngModel
        required
        #content="ngModel">
      <mat-error *ngIf="content.invalid">You forgot your doughnut toppings!</mat-error>
    </mat-form-field>
    <br>
    <br>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save</button>
  </form>
</mat-card>
