<link href="css/website.css" rel="stylesheet" type="text/css" />

<div id="website_wrapper">
    <div id="website_header">
	      <h1><u>Fletnix</u></h1>
      <div id="website_menu" class="ddsmoothmenu">
        <ul>
          <li><button mat-button [routerLink]="['/home2']" class="withsub">Home</button>
          <li><button mat-button [routerLink]="['/create']" class="withsub">Page One</button>
          
            
       
          <li><button mat-button [routerLink]="['/list']" class="withsub">Page Two</button>
          
       
          <li><button mat-button [routerLink]="['/shop']" class="withsub">Cart</button>
          <li><button mat-button [routerLink]="['/info']" class="withsub">Support</button>
		  	  
        </ul>
      </div>
      <!-- END of menu -->
    </div>
    <!-- END of header-->


      
<!--<mat-toolbar color="warn"> 
    <mat-toolbar-row>
            <span class="title-center">
              <br>
       <h1> Welcome to the Doughnut shop!</h1>
       <br>
    </span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>-->
<!-- mat-button after button-->

  <!--<button mat-button [routerLink]="['/create']" color="Warn">Create</button>
  <button mat-button [routerLink]="['/list']">List</button>
  <button mat-button [routerLink]="['/info']">Info</button>
  <button mat-button [routerLink]="['/shop']">Shop</button>
</mat-toolbar-row>
 </mat-toolbar>-->

 

<!--><script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-functions.js"></script>

<script>
  var config = {
    // ...
  };
  firebase.initializeApp(config);
</script>
-->
<router-outlet></router-outlet>
