
<mat-toolbar color="warn"> 
    <mat-toolbar-row>
            <span class="title-center">
              <br>
       <h1> Welcome to the Doughnut shop!</h1>
       <br>
    </span>
      </mat-toolbar-row>
    
      <mat-toolbar-row>
<!-- mat-button after button-->

  <button mat-button [routerLink]="['/create']" color="Warn">Create</button>
  <button mat-button [routerLink]="['/list']">List</button>
  <button mat-button [routerLink]="['/info']">Info</button>
  <button mat-button [routerLink]="['/shop']">Shop</button>
</mat-toolbar-row>
 </mat-toolbar>

<router-outlet></router-outlet>
